.DS_Store
.eslintrc.js
.gitattributes
.gitignore
.markdownlint.json
.prettierrc.yaml
.snyk
.vscode
README.md
docker-compose.env
docker-compose.example.env
docker-compose.yml
prettier.config.js
privacy-override.json

coverage/
node_modules/
.git/
test/